@page "/products/details"
@using Microsoft.EntityFrameworkCore
@using DataAccess.Entities
@inject IDbContextFactory<DataAccess.Data.AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Product</h2>
    <hr />
    @if (product is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">CategoryId</dt>
            <dd class="col-sm-10">@product.CategoryId</dd>
            <dt class="col-sm-2">ProductName</dt>
            <dd class="col-sm-10">@product.ProductName</dd>
            <dt class="col-sm-2">Weight</dt>
            <dd class="col-sm-10">@product.Weight</dd>
            <dt class="col-sm-2">UnitPrice</dt>
            <dd class="col-sm-10">@product.UnitPrice</dd>
            <dt class="col-sm-2">UnitsInStock</dt>
            <dd class="col-sm-10">@product.UnitsInStock</dd>
        </dl>
        <div>
            <a href="@($"/products/edit?productid={product.ProductId}")">Edit</a> |
            <a href="@($"/products")">Back to List</a>
        </div>
    }
</div>

@code {
    private Product? product;

    [SupplyParameterFromQuery]
    private int ProductId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        product = await context.Products.FirstOrDefaultAsync(m => m.ProductId == ProductId);

        if (product is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
